# Pandas

Pandas is a tool fopr data processing which helps in data analysis

It provides functions and methods to efficiently manipulate large datasets

-  `Series` is a one-dimensional array with labels it can contain nay data type including integers, strings, floats, Python objects, etc.
-  `DataFrame` is a two-dimensional array with labels for rows and columns. We can use labels to locate data

In [1]:
import pandas as pd

In [2]:
# check pandas version
pd.__version__

'2.2.1'

# Series create, manipulate, querry, delete

In [3]:
# creating a series from a list
arr = [1, 2, 3, 4, 5]
s1 = pd.Series(arr)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
order = [1, 2, 3, 4, 5]
s2 = pd.Series(arr, index=order)
s2

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [5]:
import numpy as np
n = np.random.randn(5)  # Create a random Ndarray
index = ['a', 'b', 'c', 'd', 'e']
s3 = pd.Series(n, index=index)
s3

a   -0.511093
b   -0.116558
c   -1.035657
d    0.572139
e   -0.901659
dtype: float64

In [6]:
# create Serues from dictionary
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
s4 = pd.Series(d)
s4

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
# modify the index of series
print(s1)
s1.index = ['A', 'B', 'C', 'D', 'E']
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [8]:
# slicing
s1[-2:]

D    4
E    5
dtype: int64

In [9]:
s5 = pd.concat([s1, s3])  # instead of concatenate, we can use append
s5

A    1.000000
B    2.000000
C    3.000000
D    4.000000
E    5.000000
a   -0.511093
b   -0.116558
c   -1.035657
d    0.572139
e   -0.901659
dtype: float64

In [10]:
s5.drop('e')  # doesn't change the original series

A    1.000000
B    2.000000
C    3.000000
D    4.000000
E    5.000000
a   -0.511093
b   -0.116558
c   -1.035657
d    0.572139
dtype: float64

In [11]:
s5

A    1.000000
B    2.000000
C    3.000000
D    4.000000
E    5.000000
a   -0.511093
b   -0.116558
c   -1.035657
d    0.572139
e   -0.901659
dtype: float64

# Series operations

In [12]:
arr1 = [0, 1, 2, 3, 4, 5, 7]
arr2 = [6, 7, 8, 9, 5]

In [13]:
s6  = pd.Series(arr2)
s6

0    6
1    7
2    8
3    9
4    5
dtype: int64

In [14]:
s7 = pd.Series(arr1)
s7

0    0
1    1
2    2
3    3
4    4
5    5
6    7
dtype: int64

In [15]:
s6.add(s7)

0     6.0
1     8.0
2    10.0
3    12.0
4     9.0
5     NaN
6     NaN
dtype: float64

In [16]:
s6.sub(s7)

0    6.0
1    6.0
2    6.0
3    6.0
4    1.0
5    NaN
6    NaN
dtype: float64

In [17]:
s6.mul(s7)

0     0.0
1     7.0
2    16.0
3    27.0
4    20.0
5     NaN
6     NaN
dtype: float64

In [18]:
s6.div(s7)

0     inf
1    7.00
2    4.00
3    3.00
4    1.25
5     NaN
6     NaN
dtype: float64

In [26]:
print('median', s7.median())
print('max', s7.max())
print('min', s7.min())
print('mean', s7.mean())
print('sum', s7.sum())
print('std', s7.std())
print('count', s7.count())

median 3.0
max 7
min 0
mean 3.142857142857143
sum 22
std 2.410295378065479
count 7

In [28]:
# invalid values are ignored
s8 = s6.div(s7)
print('median', s8.median())
print('max', s8.max())
print('min', s8.min())
print('mean', s8.mean())
print('sum', s8.sum())
# print('std', s8.std())
print('count', s8.count())

median 4.0
max inf
min 1.25
mean inf
sum inf
count 5