In [1]:
# Web Scraping

In [2]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/tom/anaconda3/envs/python312/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /home/tom/anaconda3/envs/python312/lib/python3.12/site-packages (from beautifulsoup4) (2.5)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup
import re

In [4]:
url = 'https://www.hubertiming.com/results/2018MLK'  # open link
html = urlopen(url)

In [5]:
soup = BeautifulSoup(html)

In [6]:
title = soup.title
print(title.string)
print(title.text)

Race results for the 2018 MLK Dream Run!
Race results for the 2018 MLK Dream Run!

In [7]:
links = soup.find_all('a', href=True)
links

[<a href="https://www.mlkdreamrun.com/" target="_blank">MLK Dream Run</a>,
 <a href="mailto:timing@hubertiming.com">timing@hubertiming.com</a>,
 <a href="https://www.hubertiming.com">Huber Timing Home</a>,
 <a class="btn btn-primary btn-lg" href="/results/2018MLK10K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 10K</a>,
 <a class="btn btn-primary btn-lg" href="/results/2018MLK15K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 15K</a>,
 <a class="btn btn-primary btn-lg" href="/results/summary/2018MLK" role="button" style="margin: 0px 0px 5px 5px"><i class="fa fa-stream"></i> Summary</a>,
 <a data-url="/results/2018MLK" href="#tabs-1" id="rootTab" style="font-size: 18px">5K Results</a>,
 <a href="https://www.hubertiming.com/"><img height="65" src="https://www.hubertiming.com//sites/all/themes/hubertiming/images/clockWithFinishSign_small.png" width="50"/>Huber Timing</a>,
 <a href="https://facebook.com/hubertiming/"><img src="https://www.hubertiming.com/results/FB-f-Logo__blue_50.png"/></a>]

In [8]:
for link in links:
    print(link['href'])

https://www.mlkdreamrun.com/
mailto:timing@hubertiming.com
https://www.hubertiming.com
/results/2018MLK10K
/results/2018MLK15K
/results/summary/2018MLK
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

In [9]:
allrows = soup.find_all('tr')
data = []
for row in allrows:
    row_list = row.find_all('td')
    data_row = []
    for cell in row_list:
        data_row.append(cell.text)
    data.append(data_row)
data = data[4:]
print(data[-4:])

[['188', '1085', '\r\n\r\n                    EBONY LAWRENCE\r\n\r\n                ', 'F', '30', 'PORTLAND', 'OR', '22:00', '1:08:12', '\r\n\r\n                    111 of 113\r\n\r\n                ', 'F 21-39', '\r\n\r\n                    53 of 53\r\n\r\n                ', '0:58', '1:09:10'], ['189', '1170', '\r\n\r\n                    ANTHONY WILLIAMS\r\n\r\n                ', 'M', '39', 'PORTLAND', 'OR', '22:19', '1:09:11', '\r\n\r\n                    78 of 78\r\n\r\n                ', 'M 21-39', '\r\n\r\n                    33 of 33\r\n\r\n                ', '0:08', '1:09:19'], ['190', '2087', '\r\n\r\n                    LEESHA POSEY\r\n\r\n                ', 'F', '43', 'PORTLAND', 'OR', '30:17', '1:33:53', '\r\n\r\n                    112 of 113\r\n\r\n                ', 'F 40-54', '\r\n\r\n                    36 of 37\r\n\r\n                ', '0:00', '1:33:53'], ['191', '1216', '\r\n\r\n                    ZULMA OCHOA\r\n\r\n                ', 'F', '40', 'GRESHAM', 'OR', '33:22', '1:43:27', '\r\n\r\n                    113 of 113\r\n\r\n                ', 'F 40-54', '\r\n\r\n                    37 of 37\r\n\r\n                ', '0:00', '1:43:27']]

In [10]:
df = pd.DataFrame(data)
df

for col in df.columns:
    df[col] = df[col].str.strip()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,1,1191,MAX RANDOLPH,M,29,WASHINGTON,DC,5:25,16:48,1 of 78,M 21-39,1 of 33,0:08,16:56
2,2,1080,NEED NAME KAISER RUNNER,M,25,PORTLAND,OR,5:39,17:31,2 of 78,M 21-39,2 of 33,0:09,17:40
3,3,1275,DAN FRANEK,M,52,PORTLAND,OR,5:53,18:15,3 of 78,M 40-54,1 of 27,0:07,18:22
4,4,1223,PAUL TAYLOR,M,54,PORTLAND,OR,5:58,18:31,4 of 78,M 40-54,2 of 27,0:07,18:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,187,1254,CYNTHIA HARRIS,F,64,PORTLAND,OR,21:53,1:07:51,110 of 113,F 55+,14 of 14,1:19,1:09:10
188,188,1085,EBONY LAWRENCE,F,30,PORTLAND,OR,22:00,1:08:12,111 of 113,F 21-39,53 of 53,0:58,1:09:10
189,189,1170,ANTHONY WILLIAMS,M,39,PORTLAND,OR,22:19,1:09:11,78 of 78,M 21-39,33 of 33,0:08,1:09:19
190,190,2087,LEESHA POSEY,F,43,PORTLAND,OR,30:17,1:33:53,112 of 113,F 40-54,36 of 37,0:00,1:33:53
191,191,1216,ZULMA OCHOA,F,40,GRESHAM,OR,33:22,1:43:27,113 of 113,F 40-54,37 of 37,0:00,1:43:27

In [11]:
print(df.head())
print(df.tail())

     0     1                        2     3     4           5     6     7   \
0  None  None                     None  None  None        None  None  None
1     1  1191             MAX RANDOLPH     M    29  WASHINGTON    DC  5:25
2     2  1080  NEED NAME KAISER RUNNER     M    25    PORTLAND    OR  5:39
3     3  1275               DAN FRANEK     M    52    PORTLAND    OR  5:53
4     4  1223              PAUL TAYLOR     M    54    PORTLAND    OR  5:58

      8        9        10       11    12     13
0   None     None     None     None  None   None
1  16:48  1 of 78  M 21-39  1 of 33  0:08  16:56
2  17:31  2 of 78  M 21-39  2 of 33  0:09  17:40
3  18:15  3 of 78  M 40-54  1 of 27  0:07  18:22
4  18:31  4 of 78  M 40-54  2 of 27  0:07  18:38
      0     1                 2  3   4         5   6      7        8   \
187  187  1254    CYNTHIA HARRIS  F  64  PORTLAND  OR  21:53  1:07:51
188  188  1085    EBONY LAWRENCE  F  30  PORTLAND  OR  22:00  1:08:12
189  189  1170  ANTHONY WILLIAMS  M  39  PORTLAND  OR  22:19  1:09:11
190  190  2087      LEESHA POSEY  F  43  PORTLAND  OR  30:17  1:33:53
191  191  1216       ZULMA OCHOA  F  40   GRESHAM  OR  33:22  1:43:27

             9        10        11    12       13
187  110 of 113    F 55+  14 of 14  1:19  1:09:10
188  111 of 113  F 21-39  53 of 53  0:58  1:09:10
189    78 of 78  M 21-39  33 of 33  0:08  1:09:19
190  112 of 113  F 40-54  36 of 37  0:00  1:33:53
191  113 of 113  F 40-54  37 of 37  0:00  1:43:27

In [13]:
header_list = []
col_headers = soup.find_all('th')
for col in col_headers:
    header_list.append(col.text)
print(header_list)

['Place', 'Bib', 'Name', 'Gender', 'Age', 'City', 'State', 'Chip Pace', 'Time', 'Gender Place', 'Age Group', 'Age Group Place', 'Time to Start', 'Gun Time']

In [15]:
df.columns = header_list
df

,Place,Bib,Name,Gender,Age,City,State,Chip Pace,Time,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,1,1191,MAX RANDOLPH,M,29,WASHINGTON,DC,5:25,16:48,1 of 78,M 21-39,1 of 33,0:08,16:56
2,2,1080,NEED NAME KAISER RUNNER,M,25,PORTLAND,OR,5:39,17:31,2 of 78,M 21-39,2 of 33,0:09,17:40
3,3,1275,DAN FRANEK,M,52,PORTLAND,OR,5:53,18:15,3 of 78,M 40-54,1 of 27,0:07,18:22
4,4,1223,PAUL TAYLOR,M,54,PORTLAND,OR,5:58,18:31,4 of 78,M 40-54,2 of 27,0:07,18:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,187,1254,CYNTHIA HARRIS,F,64,PORTLAND,OR,21:53,1:07:51,110 of 113,F 55+,14 of 14,1:19,1:09:10
188,188,1085,EBONY LAWRENCE,F,30,PORTLAND,OR,22:00,1:08:12,111 of 113,F 21-39,53 of 53,0:58,1:09:10
189,189,1170,ANTHONY WILLIAMS,M,39,PORTLAND,OR,22:19,1:09:11,78 of 78,M 21-39,33 of 33,0:08,1:09:19
190,190,2087,LEESHA POSEY,F,43,PORTLAND,OR,30:17,1:33:53,112 of 113,F 40-54,36 of 37,0:00,1:33:53
191,191,1216,ZULMA OCHOA,F,40,GRESHAM,OR,33:22,1:43:27,113 of 113,F 40-54,37 of 37,0:00,1:43:27

In [25]:
# remove first row from the dataframe
df = df[1:]
df

,Place,Bib,Name,Gender,Age,City,State,Chip Pace,Time,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
8,8,1154,UNKNOWN RUNNER SEE TIMER,M,,,,8:03,24:58,7 of 78,,1 of 9,2:00,26:58
9,9,1163,UNKNOWN RUNNER SEE TIMER,M,,,,8:04,25:01,8 of 78,,2 of 9,1:59,27:00
10,10,1242,KIMONTI WILSON,F,48,,,8:04,25:01,2 of 113,F 40-54,1 of 37,1:59,27:00
11,11,1017,COREY MCMANUS,M,37,BEAVERTON,OR,8:09,25:17,9 of 78,M 21-39,5 of 33,0:22,25:39
12,12,1112,MITCHELL JOHNSON,M,25,PORTLAND,OR,8:13,25:31,10 of 78,M 21-39,6 of 33,0:15,25:46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,187,1254,CYNTHIA HARRIS,F,64,PORTLAND,OR,21:53,1:07:51,110 of 113,F 55+,14 of 14,1:19,1:09:10
188,188,1085,EBONY LAWRENCE,F,30,PORTLAND,OR,22:00,1:08:12,111 of 113,F 21-39,53 of 53,0:58,1:09:10
189,189,1170,ANTHONY WILLIAMS,M,39,PORTLAND,OR,22:19,1:09:11,78 of 78,M 21-39,33 of 33,0:08,1:09:19
190,190,2087,LEESHA POSEY,F,43,PORTLAND,OR,30:17,1:33:53,112 of 113,F 40-54,36 of 37,0:00,1:33:53
191,191,1216,ZULMA OCHOA,F,40,GRESHAM,OR,33:22,1:43:27,113 of 113,F 40-54,37 of 37,0:00,1:43:27